@import "../../../../../assets/scss/abstracts/vars.scss";

.page-wrapper {
  position: relative;

  height: 100vh;
  color: #fff;

  overflow: hidden;
}

.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.components-wrapper {
  width: calc(100% - 250px);
  max-width: calc(100% - 250px);
  padding: 16px 30px;
}

.header {
  display: flex;
  align-items: center;
  min-height: 3.8rem;
  margin: 0px auto;
  padding: 0 30px;
  background-color: $main-color-dark;

  .icon {
    height: 16px;
    width: 16px;
  }

  .nav {
    transition: ease 0.3s;

    &__list {
      display: flex;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease 0.3s;
      }

      li + li {
        margin-left: 10px;
        padding: 0 10px;
        border-left: 1px solid rgb(156, 156, 156);
      }

      a:hover {
        color: $secondary-color-grey-dark;
      }

      .item__text {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
        color: $main-color-text;
      }
    }
  }

  &__nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__settings-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.main {
  display: flex;
  color: $main-color-black-grey;

  .crypto__list {
    li {
      display: flex;
      align-items: center;
      height: 48px;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 4px;
      font-weight: 600;
      color: $secondary-color-grey-dark;
      transition: ease 0.3s;
      cursor: pointer;

      p {
        margin-left: 10px;
      }
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 250px;
  height: 100%;
  padding: 16px 8px;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out 0s;

  .crypto__list {
    margin-top: 10px;

    .dashboard:hover,
    .dashboard.active {
      background-color: $hover-color-blue;
    }

    .btc:hover,
    .btc.active {
      background-color: $hover-color-orange;
    }

    .eth:hover,
    .eth.active {
      background-color: $hover-color-purple;
    }

    .xrp:hover,
    .xrp.active {
      background-color: $hover-color-green;
    }

    li {
      & + li {
        margin-top: 10px;
      }
    }
  }
}
