<div *ngIf="!isProjectsExist" class="card">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="label__group">
        <label class="form__label" for="id">Name</label>
        <span
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          class="form__validation"
        >
          <span *ngIf="form.get('name')?.errors?.required">Required</span>
        </span>
      </div>
      <input
        class="form__input"
        formControlName="name"
        id="id"
        type="text"
        [ngClass]="{
          invalid: form.get('name')?.invalid && form.get('name')?.touched
        }"
      />
    </div>
    <div class="form-group">
      <div class="label__group">
        <label class="form__label" for="url">Redirect URL</label>
        <span
          *ngIf="form.get('url')?.invalid && form.get('url')?.touched"
          class="form__validation"
        >
          <span *ngIf="form.get('url')?.errors?.required">Required</span>
        </span>
      </div>
      <input
        class="form__input"
        formControlName="url"
        id="url"
        type="text"
        [ngClass]="{
          invalid: form.get('url')?.invalid && form.get('url')?.touched
        }"
      />
    </div>
    <button
      class="form__button"
      [disabled]="form.invalid || form.disabled"
      type="submit"
    >
      Add Project
      <ngx-spinner
        bdColor="rgba(255, 255, 255, 0.5)"
        color="var($main-color-button)"
        size="medium"
        type="line-scale"
        [fullScreen]="false"
      ></ngx-spinner>
    </button>
  </form>
</div>
<div *ngIf="isProjectsExist" class="card">
  <div class="form-group">
    <ul>
      <li *ngFor="let item of projectData; let i = index">
        <div class="label__group">
          <label class="form__label" [for]="'name' + i">Name</label>
        </div>
        <input
          class="form__input"
          [id]="'name' + i"
          type="text"
          [value]="item.name"
        />
        <div class="label__group">
          <label class="form__label" for="id">ProjectID</label>
        </div>
        <input
          class="form__input"
          id="id"
          type="text"
          [value]="item.projectID"
        />
        <div class="label__group">
          <label class="form__label" for="url">Project Secret</label>
        </div>
        <input
          class="form__input"
          id="url"
          type="text"
          [value]="item.projectSecret"
        />
        <div class="label__group">
          <label class="form__label" for="url">Scope</label>
        </div>
        <input class="form__input" id="url" type="text" [value]="item.scope" />
        <div class="label__group">
          <label class="form__label" for="url">Redirect URL</label>
        </div>
        <input
          class="form__input"
          id="url"
          type="text"
          [value]="item.redirectURLs[0]"
        />
      </li>
    </ul>
  </div>
  <button class="form__button" [routerLink]="['/login']" type="button">Back</button>
</div>
