@import '../../abstracts/vars.scss';

.card {
	display: flex;
	flex-direction: column;
		
	padding: 20px 30px;
	border-radius: 8px;

	color: #000;
	background-color: #fff;
	
  	&__title {
		font-size: 20px;
	}

	&__describtion {
		font-size: 14px;
		font-weight: 600;
		margin: 10px 0;

		span {
			color: $secondary-color-grey-dark;
		}
	}

	&__link {
		display: block;
		margin-top: 10px;
		font-size: 14px;
		font-weight: 600;
		color: $secondary-color-link;
		text-align: center;
	
		span {
			color: #fff;
		}
	}
}